.menu-color{
    background: linear-gradient(36deg, rgba(82,130,64,1) 0%, rgba(189,206,102,1) 39%, rgba(165,180,82,1) 84%);
}

.cursor{
    cursor: pointer;
    color: var(--cor-branca);
}

.text-decorator-none{
    text-decoration:none;
}

.logoNav{
    width: 50px;
    margin: 4px 0 0 0;
}