.text-decorator-none {
  text-decoration: none;
}
.textos1 {
  font-weight: bold !important ;
}

.bg-color {
  background-color: var(--cor-branca);
}

.bg-btn {
  background-color: #528240 !important;
}

.imag {
  background-image: url("../../../assets/img/imagem-login.jpg") !important;
  background-repeat: no-repeat !important;
  width: 100vh !important;
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh !important;
  opacity: 0.95;
}
