.menu-color {
  background: linear-gradient(
    36deg,
    #528240 0%,
    #bdce66 39%,
    #a5b452 84%
  );
}

.mg-between {
  padding: 0 3vw 0 0vw;
  
}

.pointer {
  cursor: pointer;
}

.cursor {
  
  cursor: pointer;
  color: var(--cor-branca);
  transition: transform 500ms !important;
}
.cursor:hover {
  color: rgba(82, 130, 64, 1);
  transform: scale(1.1);
}

.MuiTypography-root.color-clicked {
  color: rgba(82, 130, 64, 1) !important;
}

.text-decorator-none {
  text-decoration: none;
}

.logoNav {
  width: 50px;
  margin: 4px 0 0 0;
}
.ceuci {
  width: 150px;
}

.icone-sair {
  margin: 3px 0 0 10px;
  height: 20px;
}

.flex-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carrinho {
  height: 30px;
}

.carrinho-cor{
  background-color: #a5b452!important;
  border-radius: 50%!important;
  transition: 300ms!important;
}
.carrinho-cor:hover{
  transition: 300ms;
  background-color: #8DAC55 !important;
  border-radius: 50%!important;
}
