.box1{
    background-color: #5C874D;
    height: 60px;
}

.box2{
    background-color: #4e7240;
    height: 60px;
}

.instagram{
    font-size: 50px !important;
    color: white;
}

.linkedin{
    font-size: 50px !important;
    color: white;
    margin-right: 15px;
}

.github{
    font-size: 40px !important;
    padding: 15px;
    color: white;
}

.generation{
    height: 50px !important;
    color: white;
}
