.text-decorator-none {
  text-decoration: none;
}

.marginLeft {
  margin-left: 12px;
}

.botao-deletar{
    border-color: white !important;
    background-color: #d10a1b !important;
    color: white !important;
    display: flex;
    align-items: center;
    border-radius: 20px !important;
}

.botao-deletar:hover {
  border-color: #fdfaf2 !important;
  background-color: red !important;
  color: #fdfaf2 !important;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 300ms;
}

.botao-comprar{
  border-color: #fdfaf2 !important;
  background-color: #8da026 !important;
  color: #fdfaf2 !important;
  display: flex;
  align-items: center;
  border-radius: 20px !important;
}


