.sobre-caixa {
    background-color: #f5faf5;
}

.sobre-titulo{
    display: flex;
    padding: 50px;
    size: 100px !important;
    justify-content: center;
    align-items: center;
    color: #528240 !important;
    font-weight: bold;
}

.sobre-texto{
    padding: 50px;
    display: flex;
    size: 50px !important;
    justify-content: center;
    align-items: center;
}

.sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobre-imagem1{
    display: flex;
    height: 500px;
    width: 750px;
}

.sobre-imagem2{
    display: flex;
    height: 500px;
    width: 750px;
    padding: 50px;
}