.caixa {
    background-color: #f5faf5;
}

.titulo{
    color: #528240 !important;
    font-weight: bold;
}

.botao {
    border-color: white !important;
    background-color: #528240;
     color: white!important;
}

.produtos{
    background-color: white !important;
}