.caixa {
  background-color: #f5faf5;
}

.titulo {
  color: #528240 !important;
  font-weight: bold;
}

.text-decorator-none {
  text-decoration: none;
}

.botao {
  border-color: white !important;
  background-color: #528240 !important;
  color: white !important;
  display: flex;
  align-items: center;
}

.produtos {
  background-color: white !important;
}

.img {
  background-image: url("https://i.imgur.com/3CDnfTg.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh !important;
}
