.img2 {
  background-image: url("../../../assets/img/imagem-cadastro.png") !important;
  background-repeat: no-repeat !important;
  width: 100vh !important;
  background-size: cover !important;
  background-position: initial !important;
  min-height: 100vh !important;
  opacity: 1;
}

.texto2 {
  font-weight: bold !important;
}
.bg-botao2 {
  margin-right: 20px !important;
  background-color: #f18c27 !important;
}
.bg-botao3 {
  background-color: #528240 !important;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s !important;
  background-size: 200% auto;
  color: white !important;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.bg-botao3:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
