@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");

.sobre-caixa {
    background-color: #f5faf5;
}

.sobre-titulo{
    font-family: "Nixie One", cursive, Times, serif, Roboto !important;
    display: flex;
    padding: 50px 0 25 0;
    font-size: 60px !important;
    justify-content: center;
    align-items: center;
    color: #528240 !important;
    font-weight: bold;
    margin-bottom: 50px;
}

.sobre-texto{
    font-family: "Nixie One", cursive, Times, serif, Roboto !important;
    margin-bottom: 20px !important;
    font-weight: 400 !important;
    padding: 50px;
    display: flex;
    font-size: 25px !important;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobre-imagem1{
    display: flex;
    height: 450px;
    width: 700px;
}

.sobre-imagem2{
    display: flex;
    height: 450px;
    width: 700px;
    
}