.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: white !important;
    background-color: white !important;
}

.botao {
    border-color: white !important;
    background-color: #528240!important;
     color: white!important;
}

.MuiInput-underline:after{
    border-bottom: 2px solid #528240!important;
}